@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<footer class="py-5">
    <div class="container">
        <div class="row justify-content-between g-2">
            <div class="col-4 align-self-center"><img class="mb-3" src="~/assets/img/logotypes/Logo.png" alt="company logotype">
                <div class="row">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus laudantium quaerat distinctio ipsam velit! In?</p>
                </div>
            </div>
            <div class="col-2 align-self-center">
                <h4>Company</h4>
                <div class="row">
                    <a href="#">About</a>
                    <a href="#">Features</a>
                    <a href="#">Works</a>
                    <a href="#">Career</a>
                </div>
            </div>
            <div class="col-2 align-self-center">
                <h4>Help</h4>
                <div class="row">
                    <a href="#">Customer support</a>
                    <a href="#">Delivery details</a>
                    <a href="#">Terms & conditions</a>
                    <a href="#">Privacy policy</a>
                </div>
            </div>
            <div class="col-2 align-self-center">
                <h4>Resources</h4>
                <div class="row">
                    <a href="#">Free eBooks</a>
                    <a href="#">Development tutorial</a>
                    <a href="#">How to - blog</a>
                    <a href="#">Youtube playlist</a>
                </div>
            </div>
            <div class="col-2 align-self-center">
                <h4>Link</h4>
                <div class="row">
                    <a href="#">Free eBooks</a>
                    <a href="#">Development tutorial</a>
                    <a href="#">How to - blog</a>
                    <a href="#">Youtube playlist</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-10 text-start">
                <p>©️ 2023 Crito Consulting Company Inc. All Rights Reserved</p>
            </div>
            <div class="col-2" id="icons-footer">
                <i class="fa-brands fa-facebook" id="icon"></i>
                <i class="fa-brands fa-twitter" id="icon"></i>
                <i class="fa-brands fa-instagram" id="icon"></i>
                <i class="fa-brands fa-linkedin" id="icon"></i>
            </div>
        </div>
    </div>
</footer>